body {
    padding: 20px;
    background-color: black;
    color: white;
}
a {
    color: lightblue;
}
span {
	font-family: monospace;
}
span:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
